aliyun-python-sdk-core==2.0.36
aliyun-python-sdk-sts==2.1.6
anyjson==0.3.3
apns==2.0.1
certifi==2022.12.7
Django==1.10
django-redis==4.4.4
djangorestframework==3.4.5
MySQL-python==1.2.5
ots2==2.0.8
protobuf-py3==2.5.1
pytz==2016.6.1
redis==2.10.5
requests==2.11.1
simplejson==3.8.2
six==1.10.0
urllib3==1.16
